<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Remove IIS 'Server' header (IIS 10+) -->
    <security>
      <requestFiltering removeServerHeader="true">
        <verbs>
          <clear />
          <add verb="*" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- Remove technology disclosure headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
      </customHeaders>
    </httpProtocol>

    <!-- Disable WebDAV and enable ASP.NET Core handler for all verbs -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- stdoutLogEnabled="true": تا علت دقیق کرش/توقف پراسس در فایل‌های .\logs\stdout ثبت شود.
         پس از یافتن علت، می‌توان دوباره false کرد تا فایل لاگ بی‌رویه بزرگ نشود. -->
    <aspNetCore processPath="dotnet" arguments=".\HRMS.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <handlerSettings>
        <!-- نگه‌داشتن لاگ راه‌اندازی برای تشخیص خطاهای زمان استارت/کرش -->
        <handlerSetting name="debugFile" value=".\logs\ancm-debug.log" />
        <handlerSetting name="debugLevel" value="FILE,ERROR" />
      </handlerSettings>
    </aspNetCore>

    <!-- Warmup: Preload the app and ping '/' on start -->
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/" />
    </applicationInitialization>
  </system.webServer>
</configuration>


